:textile
  **Series "Amniota (Amniote)":/wiki/Amniote**

  **Class "Synapsida (Synapsid)":/wiki/Synapsid**

  Order "Pelycosauria (Pelycosaur)":/wiki/Pelycosaur"* (Paraphyly)":/wiki/Paraphyly
  Order "Therapsida (Therapsida)":/wiki/Therapsida

  **Class "Mammalia (Mammal)":/wiki/Mammal**




  **Class "Sauropsida (Sauropsida)":/wiki/Sauropsida**

  **Subclass "Anapsida (Anapsid)":/wiki/Anapsid**

  Order "Testudines (Testudines)":/wiki/Testudines (turtles)


  **Subclass "Diapsida (Diapsid)":/wiki/Diapsid**

  Order "Araeoscelidia (Araeoscelidia)":/wiki/Araeoscelidia
  Order "Younginiformes (Younginiformes)":/wiki/Younginiformes
  **Infraclass "Ichthyosauria (Ichthyosaur)":/wiki/Ichthyosaur**
  **Infraclass "Lepidosauromorpha (Lepidosauromorpha)":/wiki/Lepidosauromorpha**

  Superorder "Sauropterygia (Sauropterygia)":/wiki/Sauropterygia

  Order "Placodontia (Placodont)":/wiki/Placodont
  Order "Nothosauroidea (Nothosaur)":/wiki/Nothosaur
  Order "Plesiosauria (Plesiosaur)":/wiki/Plesiosaur


  Superorder "Lepidosauria (Lepidosauria)":/wiki/Lepidosauria

  Order "Sphenodontia (Sphenodontia)":/wiki/Sphenodontia (tuatara)
  Order "Squamata (Squamata)":/wiki/Squamata (lizards & snakes)




  **Infraclass "Archosauromorpha (Archosauromorpha)":/wiki/Archosauromorpha**
  
  Order "Prolacertiformes (Prolacertiformes)":/wiki/Prolacertiformes
  Division "Archosauria (Archosaur)":/wiki/Archosaur

  Subdivision "Crurotarsi (Crurotarsi)":/wiki/Crurotarsi

  Superorder "Crocodylomorpha (Crocodylomorpha)":/wiki/Crocodylomorpha

  Order "Crocodilia (Crocodilia)":/wiki/Crocodilia
  Order "Phytosauria (Phytosaur)":/wiki/Phytosaur
  Order "Rauisuchia (Rauisuchia)":/wiki/Rauisuchia
  Order "Rhynchosauria (Rhynchosauria)":/wiki/Rhynchosauria




  Subdivision "Avemetatarsalia (Avemetatarsalia)":/wiki/Avemetatarsalia

  Infradivision "Ornithodira (Ornithodira)":/wiki/Ornithodira

  Order "Pterosauria (Pterosaur)":/wiki/Pterosaur
  Superorder "Dinosauria (Dinosaur)":/wiki/Dinosaur

  Order "Saurischia (Saurischia)":/wiki/Saurischia

  **Class "Aves (Bird)":/wiki/Bird**


  Order "Ornithischia (Ornithischia)":/wiki/Ornithischia
















