%p
  Most fish exchange gases using gills on either side of the pharynx. Gills consist of threadlike structures called filaments.
  Each filament contains a capillary network that provides a large surface area for exchanging oxygen and carbon dioxide.
  Fish exchange gases by pulling oxygen-rich water through their mouths and pumping it over their gills.

  In some fishes, capillary blood flows in the opposite direction to the water, causing counter current exchange.
  The gills push the oxygen-poor water out through openings in the sides of the pharynx.
  Some fishes, like sharks and lampreys, possess multiple gill openings. However, most fishes have a single gill opening on each side. 
  This opening is hidden beneath a protective bony cover called an operculum.
  