#footer
  .inner
    %ul
      %li#ncb
        %a{:href => "http://www.ncb.org.uk/", :target => "_blank"}
          %acronym{:title => "National Children's Bureau"} ncb
      %li#nfer
        %a{:href => "http://www.nfer.ac.uk/", :target => "_blank"}
          %acronym{:title => "National Foundation for Educational Research"} nfer
      %li#research-in-practice
        %a{:href => "http://www.rip.org.uk/", :target => "_blank"}
          %span Research in practice
      %li#scie
        %a{:href => "http://www.scie.org.uk/", :target => "_blank"}
          %acronym{:title => "Social care institute for excellence"} SCIE
/ end footer
