/**********************************
 *
 * Use: Core CSS styling
 * Author: standards@cimex.com
 *
 *********************************** */
/* */
body {
  line-height: 1; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td, table {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

ins {
  text-decoration: none; }

q {
  quotes: none; }

li, fieldset, form, label, legend, ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

object, embed {
  z-index: 0;
  position: relative; }

article, aside, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  color: black;
  background: white;
  font: 12px arial, helvetica, sans-serif;
  line-height: 1.8em; }

p, blockquote {
  margin: 10px 0 0 0;
  padding: 0; }

a {
  outline: none;
  color: black; }

h1, h2, h3, h4 {
  margin: 20px 0 0 0;
  padding: 0; }

h1 {
  font-size: 2.8em;
  line-height: 1.2em; }

h2 {
  margin: 20px 0 0 0;
  padding: 0 0 10px 0;
  font-size: 1.4em;
  line-height: 1em; }

h3 {
  font-size: 1.2em; }

img.video, img.diagram {
  margin: 20px 0 0 0; }

ul {
  padding: 20px 0; }

.hidden-link {
  color: black !important;
  text-decoration: none; }
  .hidden-link:hover {
    text-decoration: underline; }

.ax {
  position: absolute;
  left: -9999px; }

.left {
  float: left; }

.right {
  float: right;
  display: inline; }

.cl {
  clear: both; }

/*layout */
#page {
  margin: 0 auto;
  width: 984px; }

#wrapper {
  padding: 0 20px; }

/* header */
#header {
  margin: 28px 0 0 0;
  float: left;
  display: inline;
  width: 100%;
  position: relative; }

/* nav */
#nav {
  clear: both;
  position: relative;
  z-index: 1;
  width: 100%;
  float: left;
  display: inline;
  height: 99px; }
  #nav ul {
    margin: 0;
    padding: 0; }
  #nav li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    display: inline; }
    #nav li a {
      float: left;
      display: inline;
      margin: 0;
      padding: 14px 10px;
      height: 22px;
      font-weight: bold;
      line-height: 1.2em;
      text-decoration: none;
      text-align: center;
      padding: 20px 10px; }
      #nav li a:hover, #nav li a.selected {
        text-decoration: underline; }
      #nav li a span {
        display: block; }
    #nav li.one a {
      padding-left: 0; }

#page #nav ul li ul.nested li a span {
  display: inline; }

/* default */
#nav li a {
  position: relative; }

#page #nav ul.nested li a {
  position: relative; }
  #page #nav ul.nested li a span.border {
    height: 42px;
    width: 1px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0; }

#page ul.nested, #page div.fill {
  clear: both;
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 0; }
#page .fill {
  width: 940px; }
#page ul.nested li a {
  margin: 0;
  padding: 10px 10px 0 0;
  font-weight: bold;
  text-decoration: none;
  text-align: center; }
  #page ul.nested li a.selected span {
    text-decoration: underline; }

/* body wrapper */
#body-wrapper {
  margin: 0;
  padding: 0;
  clear: both;
  position: relative;
  float: left;
  display: inline;
  width: 100%; }

#sub-nav {
  margin: 0;
  padding: 0;
  float: left;
  display: inline;
  width: 100%; }
  #sub-nav li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    display: inline; }
    #sub-nav li a {
      padding: 0 20px 20px 0;
      font-weight: bold;
      text-decoration: none;
      float: left;
      display: inline; }
      #sub-nav li a.selected {
        text-decoration: underline; }

#footer {
  clear: both;
  margin: 40px 0 0 0;
  width: 100%;
  min-height: 145px;
  float: left;
  display: inline; }
  #footer .inner {
    margin: 0 auto;
    width: 940px; }
