:textile
  Fish scales are dermally derived, specifically in the mesoderm. This fact distinguishes them from reptile scales paleontologically.

  Genetically, the same genes involved in tooth and hair development in mammals are also involved in scale development.[1]