:textile  
  Recreational fishing, also called sport fishing, is fishing for pleasure or competition.
  It can be contrasted with commercial fishing, which is fishing for profit, or subsistence fishing, which is fishing for survival.
  The most common form of recreational fishing is done with a rod, reel, line,
  hooks and any one of a wide range of baits. Other devices, commonly referred to as terminal tackle, are also used to affect or
  complement the presentation of the bait to the targeted fish.

  Some examples of terminal tackle include weights, floats, and swivels.
  
  Lures are frequently used in place of bait. Some hobbyists make handmade tackle themselves, including plastic lures and artificial flies.
  The practice of catching or attempting to catch fish with a hook is known as angling.
  When angling, it is sometimes expected or required that the fish be released.