= partial :'partials/sub_nav'
:textile
  Fish typically have quite small brains relative to body size compared with other vertebrates,
  typically one-fifteenth the brain mass of a similarly sized bird or mammal.[15]
  However, some fish have relatively large brains, most notably mormyrids and sharks,
  which have brains about as massive relative to body weight as birds and marsupials.[16]
  Fish brains are divided into several regions.
  At the front are the olfactory lobes,
  a pair of structures that receive and process signals from the nostrils via the two olfactory nerves.[15]
  The olfactory lobes are very large in fishes that hunt primarily by smell, such as hagfish, sharks, and catfish.
  Behind the olfactory lobes is the two-lobed telencephalon, the structural equivalent to the cerebrum in higher vertebrates.
  In fishes the telencephalon is concerned mostly with olfaction.[15] 
  Together these structures form the forebrain.
  