:textile
  Most reptiles have a three-chambered heart consisting of two atria,
  one variably partitioned ventricle, and two aortas that lead to the systemic circulation.
  The degree of mixing of oxygenated and deoxygenated blood in the three-chambered heart varies
  depending on the species and physiological state. Under different conditions, deoxygenated blood
  can be shunted back to the body or oxygenated blood can be shunted back to the lungs.
  This variation in blood flow has been hypothesized to allow more effective thermoregulation and longer
  diving times for aquatic species, but has not been shown to be a fitness advantage.[23]
  There are some interesting exceptions to the general physiology. For instance, crocodilians have an 
  anatomically four-chambered heart, but also have two systemic aortas and are therefore capable of
  bypassing only their pulmonary circulation.[24] Also, some snake and lizard species (e.g., pythons and monitor lizards)
  have three-chambered hearts that become functionally four-chambered hearts during contraction.
  This is made possible by a muscular ridge that subdivides the ventricle during ventricular diastole and
  completely divides it during ventricular systole. Because of this ridge, some of these squamates are capable of
  producing ventricular pressure differentials that are equivalent to those seen in mammalian and avian hearts.[25]