:textile
  The fishing industry includes any industry or activity concerned with taking, culturing, processing, preserving, storing, transporting, marketing or selling fish or fish products.
  It is defined by the FAO as including recreational, subsistence and commercial fishing, and the harvesting, processing, and marketing sectors.[1]

  The commercial activity is aimed at the delivery of fish and other seafood products for human consumption or as input
  factors in other industrial processes.

  Directly or indirectly, the livelihood of over 500 million people in developing countries depends on fisheries and aquaculture.[2]