/***********************************
 *
 * Use: Core CSS styling
 * Author: standards@cimex.com
 *
 ***********************************
/*

@import reset

body
  color: black
  background: #fff
  font: 12px arial, helvetica, sans-serif
  line-height: 1.8em

p, blockquote
  margin: 10px 0 0 0
  padding: 0

a
  outline: none
  color: #000
  
h1, h2, h3, h4
  margin: 20px 0 0 0
  padding: 0

h1
  font-size: 2.8em
  line-height: 1.2em

h2
  margin: 20px 0 0 0
  padding: 0 0 10px 0
  font-size: 1.4em
  line-height: 1em

h3
  font-size: 1.2em

img
  &.video, &.diagram
    margin: 20px 0 0 0

ul
  padding: 20px 0

a.hidden-link
  color: black
  text-decoration: none
  &:hover
    text-decoration: underline

.ax
  position: absolute
  left: -9999px

.left
  float: left

.right
  float: right
  display: inline

.cl
  clear: both


/*layout

#page
  margin: 0 auto
  width: 984px

#wrapper
  padding: 0 20px

#body-wrapper
  margin: 0
  padding: 0
  clear: both
  position: relative
  float: left
  display: inline
  width: 100%

#header
  margin: 28px 0 0 0
  float: left
  display: inline
  width: 100%
  position: relative

#footer
  clear: both
  margin: 40px 0 0 0
  width: 100%
  min-height: 145px
  float: left
  display: inline
  .inner
    margin: 0 auto
    width: 940px

/* nav

#nav
  clear: both
  position: relative
  z-index: 1
  width: 100%
  float: left
  display: inline
  height: 99px
  ul
    margin: 0
    padding: 0
  li
    margin: 0
    padding: 0
    list-style-type: none
    float: left
    display: inline
    a
      float: left
      display: inline
      margin: 0
      padding: 14px 10px
      height: 22px
      font-weight: bold
      line-height: 1.2em
      text-decoration: none
      text-align: center
      padding: 20px 10px
      &:hover, &.selected
        text-decoration: underline
      span
        display: block

    &.one a
      padding-left: 0

#page #nav ul li ul.nested li a span
  display: inline

/* default

#nav li a
  position: relative

#page #nav ul.nested li a
  position: relative
  span.border
    height: 42px
    width: 1px
    position: absolute
    top: 0px
    right: 0px
    padding: 0

#page
  ul.nested, div.fill
    clear: both
    position: absolute
    z-index: 2
    top: 50px
    left: 0
  .fill
    width: 940px
  ul
    &.nested li a
      margin: 0
      padding: 10px 10px 0 0
      font-weight: bold
      text-decoration: none
      text-align: center
      &.selected span
        text-decoration: underline

#sub-nav
  margin: 0
  padding: 0
  float: left
  display: inline
  width: 100%
  li
    margin: 0
    padding: 0
    list-style-type: none
    float: left
    display: inline
    a
      padding: 0 20px 20px 0
      font-weight: bold
      text-decoration: none
      float: left
      display: inline
      &.selected
        text-decoration: underline