:textile
  Most fish possess highly developed sense organs. Nearly all daylight fish have color
  vision that is at least as good as a human's. Many fish also have chemoreceptors that
  are responsible for extraordinary senses of taste and smell. Although they have ears,
  many fish may not hear very well. Most fish have sensitive receptors that form the lateral
  line system, which detects gentle currents and vibrations, and senses the motion of nearby
  fish and prey.[17]

  Some fish, such as catfish and sharks, have organs that detect low-level
  electric current.[18] Other fish, like the electric eel, can produce electric current.
  
  Fish orient themselves using landmarks and may use mental maps based on multiple landmarks or symbols.
  Fish behavior in mazes reveals that they possess spatial memory and visual discrimination.[19]