#jigsaws-wrapper
  %ul.jigsaw
    %li.senior
      %h3
        %a{:href => rel_path+theme_url+"strategic-leaders/start-page/introduction/index.html"} Strategic leaders in children's services
      %p
        Directors, Assistant directors, CEOs,
        %br/
        Elected members
    %li.tier
      %h3
        %a{:href => rel_path+theme_url+"senior-managers/start-page/introduction/index.html"} Senior managers and senior practitioners
      %p Heads of Early Years/Children's services, Managers of children's centres
    %li.info
      %h3
        %a{:href => rel_path+theme_url+"information-professionals/start-page/introduction/index.html"} Information professionals
      %p Performance managers, Research managers and Mapping managers
    %li.front
      %h3
        %a{:href => rel_path+theme_url+"frontline-staff/start-page/introduction/index.html"}
          Frontline
          %br/
          practitioners
      %p
        Health visitors, Childminders, Children's centres, Play group and
        %br/
        day nursery staff
/ end jigsaws-wrapper
.group
  .explanation
    %h1 Child Poverty
    %p Welcome to the Child Poverty interactive e-learning resource created to support you in achieving outcomes for children.
  .extraContent
    %h2 Extra Content
    %p
      You can access additional explanations, suggestions for further reading and references by rolling your mouse over
      %span.tooltip-trigger{:rel => "#tooltip-one"}
        text in blue
        %img{:alt => "", :src => rel_path+"images/end-tooltip-trigger.png"}/
      throughout the resource.
    .tooltips
      #tooltip-one.tooltip
        %p Access additional information by rolling-over blue text whenever you see the 'plus' icon.
    / end tooltips
#three-cols.block-inner
  #first-col.col.person

    .screen-shot
      %img{:alt => "screenshot of interactives", :src => rel_path+"images/flash-screen-shot.png"}/
    %h2 Interactive exercises
    %p Test your understanding of key points or understand complex topics more clearly with our range of quick and fun interactive exercises.

  #mid-col.col
    %h2 Data
    %p Learn all about C4EO's data services and in particular interactive maps in the 'Data' section. Interactive maps have been created to allow you easy access to data about your area and allow you to compare data across regions.
    %p In the 'Data' section you will find quick tours of interactive maps as well as 'How to' tutorials that provide you with the means to get the most out of this 'one-stop' knowledge base and easy-to-follow activities that should give you the confidence to get started.
  / end mid-col
  #last-col.col
    .portrait
      %img{:alt => "Sector specialist Jo McEvoy", :src => rel_path+"images/video_still_l.jpg"}/

    .group
      %h2 Video case studies
      %p View video case studies of how the Sector Specialist role is supporting Early Years services in the 'How we can help' section.
      .block.block-bubble
        .block-inner

          %h2 Your feedback
          %p
            Your feedback about these resources is very important to C4EO. If you have any comments, queries or suggestions please complete the
            %a{:href => "http://www.c4eo.org.uk/themes/general/participate.aspx", :target => "_blank"} feedback form
