:textile

  !http://upload.wikimedia.org/wikipedia/commons/thumb/8/81/NileCrocodile.jpg/220px-NileCrocodile.jpg!

  Reptiles are animals in the (Linnaean) class Reptilia characterized by breathing air, a "cold-blooded" (poikilothermic) metabolism, laying tough-shelled amniotic eggs (or retaining the same membrane system in species with live birth), and skin with scales or scutes.
  They are tetrapods (either having four limbs or being descended from four-limbed ancestors) and lay amniotic eggs, in which the embryo is surrounded by a membrane called the amnion.
  Modern reptiles inhabit every continent with the exception of Antarctica, and four living orders are currently recognized:
