:textile
  The reptiles were from the outset of classification grouped with the amphibians.
  Linnaeus, working from species-poor Sweden, where the common adder and grass snake are
  often found hunting in water, included all reptiles and amphibians in class "III - Amphibia"
  in his Systema Naturae.[1] The terms "reptile" and "amphibian" were largely interchangeable,
  "reptile" (from Latin repere, "to creep") being preferred by the French.[2]

  Josephus Nicolaus Laurenti was the first to formally use the term "Reptilia" for an expanded selection of reptiles and 
  amphibians basically similar to that of Linnaeus.[3] Not until the beginning of the 19th century did it
  become clear that reptiles and amphibians are in fact quite different animals, and Pierre André Latreille
  erected the class Batracia (1825) for the latter,
  dividing the tetrapods into the four familiar classes of reptiles, amphibians, birds and mammals.[4]