:textile
  h2. Congratulations, you're up and running with static-sinatra

  This page acts as a base for the HTML projects/directories that share the same assets

  Notice that all links are followed by "index.html" to ensure that these can be used reliably on any server or disk.

  * "Reptiles":reptiles/index.html
  * "Fish":fish/index.html