:textile
  Congratulations, you're up and running with the static-sinatra!

  This page is not normally shown to the client, it acts as a base for the HTML projects that share the same assets

  In this case we'll provide links to our two initial HTML sites:

  * "Reptiles":reptiles/index.html
  * "Fish":fish/index.html

  Notice that all links are followed by "index.html" to ensure that these can be used reliably on any server or disk.