:textile
  Experiments done by William Tavolga provide evidence that fish have pain and fear responses.
  For instance, in Tavolga’s experiments, toadfish grunted when electrically shocked and over
  time they came to grunt at the mere sight of an electrode.[20]
  
  In 2003, Scottish scientists at the University of Edinburgh and the 
  Roslin Institute concluded that rainbow trout exhibit behaviors often
  associated with pain in other animals. Bee venom and acetic acid injected into the lips resulted in
  fish rocking their bodies and rubbing their lips along the sides and floors of their tanks, which the
  researchers concluded were attempts to relieve pain, similar to what mammals would do.[21][22][23]
  Neurons fired in a pattern resembling human neuronal patterns.[23